#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
#.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/


#//////////////////////////
# Proto
#//////////////////////////
Proto/
Proto.js/
ProtoLudo/


ccgamePack/pack/
/.vscode
assets/subGames/

assets/common_games/

native/
